name: CI - Transactions Service

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: pwd
          POSTGRES_DB: companion_transactions_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U user" 
          --health-interval=10s 
          --health-timeout=5s 
          --health-retries=5

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build and test
        run: ./gradlew clean build --no-daemon

      - name: Build Docker image
        run: docker build -t companion/transactions-service .

      #- name: Run docker-compose for integration test
        #run: docker compose up -d
