name: CI - Keycloak Service

on:
  push:
    branches: [ main, dev, features/keycloak ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: pwd
          POSTGRES_DB: companion_keycloak_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U user" 
          --health-interval=10s 
          --health-timeout=5s 
          --health-retries=5

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Prepare environment file
        working-directory: ./keycloak
        run: cp .env.dev.example .env

      - name: Build Docker image
        working-directory: ./keycloak
        run: docker build -t companion/keycloak-service .